.map-container {
    display: inline-block;
    height: auto;
    width: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: sans-serif;
    text-align: center;
}

.marker {
    background-image: url('https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/map-marker-icon.png');
    background-size: cover;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

body { margin: 0; padding: 0; }
#map { position: relative; top: 0; bottom: 0; width: 100%; }

#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}


#info {
    display: inline-block;
    font-family: sans-serif;
    position: relative;
    margin: 0px auto;
    height: auto;
    width: auto;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}